node_modules/
dist/

.env

.vscode/
.idea/

*.log

*.js

*.cache/
*.log*
*.tmp

.*history*

*.tsbuildinfo

.vscode/
.settings/

.yarn/
.yarnrc
.yarnrc.yml
yarn.lock
.pnp.*

npm-debug.log*
npm-debug.log
pnpm-debug.log*
.pnpm

*.swp
.DS_Store
Thumbs.db

/jest-cache/
/coverage/